fastapi
uvicorn
python-multipart
redis
sqlalchemy
python-dotenv
pydantic
PyPDF2
nltk
qdrant-client
sqlalchemy
sentence-transformers
langchain-core
langchain-groq
httpx
pydantic_settings
pyjwt
langchain
langchain-community
langchain_text_splitters
langchain_experimental
langchain_huggingface